<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main page</title>
    <meta http-equiv="Content-Type" content="text/html:charset=UTF-8">
</head>
<body>
<table>
    <a href="/books/create">Create books page</a>
    <tr>
        <th>Book name</th>
        <th>Edition name</th>
        <th>Edition date</th>
        <th>Book count</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:utext="${book.bookName}"></td>
        <td th:utext="${book.editionName}"></td>
        <td th:utext="${book.editionDate}"></td>
        <td th:utext="${book.booksCount}"></td>
        <td><a th:href="@{/books/{id}(id=${book.id})}">Update</a></td>
        <td><a th:href="@{/books/{id}/delete(id=${book.id})}">Delete</a></td>
    </tr>
</table>
</body>
</html>